@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
height: 100vh;
width: 100vw;
background-color: black;
}
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;/* mais vc precisa desse relativo pra fora tbm*/
    height: 100vh;
   
    
}
section#telefone {
    position: absolute;/* eu consigo centralizar a partir usando boton e left so que ele vai ficar no meio mai spara baixo revertemos isso com tranform translate -50%metda esquerda -50 met pra cima*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px; /*altura*/
    width: 311px; /*largura*/
    background: url('../imagens/frame-iphone.png') no-repeat;
}
iframe#tela {
    position: relative;
    top: 81px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#redes-sociais {
    text-align: right;
}
section#redes-sociais img {
width: 50px;
margin: 10px;
border-radius: 50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
box-sizing:border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(245, 245, 245, 0.733) ;
    transform:translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s;
}